<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>问道</string>
		<key>imgurl</key>
		<string>http://4.pic.anfensi.com/Uploads/Picture/2016-04-11/570b5dbe52d3c.png</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>王者荣耀</string>
		<key>imgurl</key>
		<string>http://2.pic.anfensi.com/Uploads/Picture/2015-10-08/5615dcd69b186.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>全名突击</string>
		<key>imgurl</key>
		<string>http://6.pic.anfensi.com/Uploads/Picture/2015-04-24/5539b38a63c24.png</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时空猎人</string>
		<key>imgurl</key>
		<string>http://2.pic.anfensi.com/Uploads/Picture/2016-06-12/575cc9ab58daa.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>火影忍者</string>
		<key>imgurl</key>
		<string>http://4.pic.anfensi.com/Uploads/Picture/2016-01-08/568efda3dc3c9.png</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>穿越火线</string>
		<key>imgurl</key>
		<string>http://4.pic.anfensi.com/Uploads/Picture/2015-09-29/5609fb6a1ac78.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>部落冲突</string>
		<key>imgurl</key>
		<string>http://2.pic.anfensi.com/uploads/140124/1-140124142522496.png</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>梦幻西游</string>
		<key>imgurl</key>
		<string>http://7.pic.anfensi.com/Uploads/Picture/2016-03-26/56f5ea52078a4.png</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>大话西游</string>
		<key>imgurl</key>
		<string>http://1.pic.anfensi.com/Uploads/Picture/2015-07-21/55ada978c721b.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>剑侠情绪</string>
		<key>imgurl</key>
		<string>http://7.pic.anfensi.com/Uploads/Picture/2016-06-24/576ce25826946.png</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>自由之战</string>
		<key>imgurl</key>
		<string>http://1.pic.anfensi.com/Uploads/Picture/2015-03-30/55190248ace6b.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>诛仙</string>
		<key>imgurl</key>
		<string>http://9.pic.anfensi.com/Uploads/Picture/2016-04-18/5714a00b6b32e.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>山口山战纪</string>
		<key>imgurl</key>
		<string>http://1.pic.anfensi.com/Uploads/Picture/2016-05-10/5731a5ae323ca.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>列王的纷争</string>
		<key>imgurl</key>
		<string>http://1.pic.anfensi.com/Uploads/Picture/2015-06-24/558a0d42ce616.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>炉石传说</string>
		<key>imgurl</key>
		<string>http://4.pic.anfensi.com/Uploads/Picture/2015-10-13/561cbda845012.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我叫MT2</string>
		<key>imgurl</key>
		<string>http://4.pic.anfensi.com/Uploads/Picture/2015-04-24/5539a44f1d008.jpg</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
	<dict>
		<key>title</key>
		<string>奇迹暖暖</string>
		<key>imgurl</key>
		<string>http://2.pic.anfensi.com/Uploads/Picture/2015-12-18/5673c65f83caa.png</string>
		<key>download</key>
		<string>1000万</string>
	</dict>
</array>
</plist>
